* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: dimgray;
}
.wrapper {
  margin: 0 auto;
  width:900px;
}

#app {
  background-color: silver;
}
.btn {
  width: 100px;
  height: 60px;
  outline: 1px dashed red;
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size:12px;
  text-align: center;
}
.living {
  background-color: green;
}
.dead {
  background-color: lightblue;
}
